<%# locals: (form:) %>
<%= turbo_frame_tag "subcategory_#{form.index}"  do %>
  <div class="pure-control-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "pure-input-1" %>
  </div>
  <div class="pure-control-group">
    <%= form.label :budget %>
    <%= form.number_field :budget,
                          data: {
                            "addition-target": "addend",
                            action: "addition#add"
                          },
                          class: "pure-input-1" %>
  </div>
  <div class="pure-controls">
    <%= form.submit t(".remove_submit"),
                formaction: subcategory_path(index: form.index, id: form.object.id),
                formmethod: :delete,
                data: { turbo_frame: "subcategory_#{form.index}" },
                class: "pure-button" %>
  </div>
  <hr>
<% end %>
