<article class="large-width center">
  <h2><%= rodauth.reset_password_request_page_title %></h2>
  <%= form_with url: rodauth.reset_password_request_path,
                method: :post,
                data: { turbo: false } do |form| %>
    <p>
      <%= rodauth.reset_password_explanatory_text %>
    </p>

    <% if params[rodauth.login_param] && !rodauth.field_error(rodauth.login_param) %>
      <%= form.hidden_field rodauth.login_param, value: params[rodauth.login_param] %>
    <% else %>
      <div class="field label border">
        <%= form.email_field rodauth.login_param,
                         value: params[rodauth.login_param],
                         id: "login",
                         autocomplete: "email",
                         required: true,
                         aria:
                           (
                             if rodauth.field_error(rodauth.login_param)
                               { invalid: true, describedby: "login_error_message" }
                             end
                           ) %>
        <%= form.label "login", rodauth.login_label %>
        <%= if rodauth.field_error(rodauth.login_param)
          content_tag(
            :span,
            rodauth.field_error(rodauth.login_param),
            class: "error",
            id: "login_error_message",
          )
        end %>
      </div>
    <% end %>

    <div class="row right-align">
      <%= turnstile_captcha %>
    </div>

    <div class="row right-align">
      <%= form.submit rodauth.reset_password_request_button, class: "button primary" %>
    </div>
  <% end %>
</article>