<tr id="<%= dom_id spent %>">
  <td><%= spent.name %></td>
  <td><%= number_to_currency(spent.amount_unit) %></td>
  <td>
    <%= spent.category_name %>
  </td>
  <td>
    <%= spent.subcategory_name %>
  </td>
  <td>
    <%= button_to t(".delete"),
                  spent_path(spent),
                  method: :delete,
                  class: "pure-button" %>
  </td>
</tr>
