<tr id="<%= dom_id spent %>">
  <td><%= spent.name %></td>
  <td><%= number_to_currency(spent.amount_unit) %></td>
  <td>
    <%= spent.category_name %>
  </td>
  <td>
    <%= spent.subcategory_name %>
  </td>
</tr>
