<%# locals: (spents:, spent:, categories:, subcategories:) %>

<div class="scrollable-table">
  <table class="pure-table pure-table-horizontal pure-table-striped compact-table scrollable">
    <thead>
      <tr>
        <th><%= t(".name") %></th>
        <th><%= t(".amount") %></th>
        <th><%= t(".category") %></th>
        <th><%= t(".subcategory") %></th>
        <th><%= t(".actions") %></th>
      </tr>
    </thead>
    <tbody id="spents_tbody" is="turbo-frame">
      <%= render spents %>
    </tbody>
  </table>
</div>

<br>

<%= button_tag t(".new_spent"),
               type: "button",
               class: "pure-button pure-button-primary",
               popovertarget: "popoverContainer" %>

<div id="popoverContainer"
     popover
     data-controller="popover-form">
  <%= turbo_frame_tag spent do %>
  <%= render "form",
             spent: spent,
             categories: categories,
             subcategories: subcategories %>
   <% end %>
</div>
