<div class="scrollable-table">
  <table class="pure-table pure-table-horizontal pure-table-striped compact-table scrollable">
    <thead>
      <tr>
        <th><%= t(".name") %></th>
        <th><%= t(".amount") %></th>
        <th><%= t(".category") %></th>
        <th><%= t(".subcategory") %></th>
      </tr>
    </thead>
    <tbody id="spents_tbody" is="turbo-frame">
      <%= render spents %>
    </tbody>
  </table>
</div>

<br>

<%= button_tag t(".new_spent"),
               type: "button",
               class: "pure-button pure-button-primary",
               popovertarget: "popoverContainer" %>
<div id="popoverContainer" popover>
  <%= render "form",
             spent: Spent.new,
             categories: categories,
             subcategories: subcategories %>
</div>
