<tr id="<%= "table_#{dom_id(expense)}" %>">
  <td><%= expense.name %></td>
  <td><%= number_to_currency(expense.amount_unit) %></td>
  <td>
    <%= expense.category_name %>
    <%= expense.subcategory_name %>
  </td>
  <td class="actions">
    <%= link_to(
            edit_expense_path(expense),
            title: t(".edit"),
            class: "pure-button",
            data: { turbo_frame: dom_id(expense) }) do %>
       <span class="material-symbols-outlined">
        edit
      </span>
    <% end %>
    <%= button_to expense_path(expense),
                  method: :delete,
                  title: t(".delete"),
                  class: "pure-button",
                  form: {
                    data: {
                      controller: "turbo-reload",
                      "turbo-reload-frame-value": "total_expense",
                      action: "turbo:submit-end->turbo-reload#reloadFrame"
                    }
                  } do %>
      <span class="material-symbols-outlined">
        delete
      </span>
    <% end %>
    <%= render "modal", turbo_tag_id: expense %>
  </td>
</tr>
