<tr id="<%= dom_id expense %>">
  <td><%= expense.name %></td>
  <td><%= number_to_currency(expense.amount_unit) %></td>
  <td>
    <%= expense.category_name %>
    <%= expense.subcategory_name %>
  </td>
  <td class="actions">
    <%= button_tag type: :button,
                  title: t(".edit"),
                  class: "pure-button",
                  popovertarget: "popoverEdit#{expense.id}" do %>
      <span class="material-symbols-outlined">
        edit
      </span>
    <% end %>
    <%= button_to expense_path(expense),
                  method: :delete,
                  title: t(".delete"),
                  class: "pure-button" do %>
      <span class="material-symbols-outlined">
        delete
      </span>
    <% end %>
    <div id="popoverEdit<%=  expense.id %>"
         class="popover-container"
         popover
         data-controller="popover-form">
      <div class="to-right">
        <button class="icon-button" popovertarget="popoverEdit<%=  expense.id %>" popovertargetaction="hide">
          <span class="material-symbols-outlined to-right">
            close
          </span>
        </button>
      </div>
      <%= turbo_frame_tag expense, src: edit_expense_path(expense), loading: :lazy %>
    </div>
  </td>
</tr>
