<%# locals: (expense:, categories:, subcategories:) %>

<%= form_with(model: expense, class: "pure-form pure-form-stacked") do |form| %>
  <fieldset>
    <div class="pure-control-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "pure-input-1" %>
    </div>

   <div class="pure-control-group">
     <%= form.label :amount_unit %>
     <%= form.number_field :amount_unit, step: "0.01", class: "pure-input-1" %>
   </div>

   <div class="pure-control-group">
     <%= form.label :category_id %>
     <%= form.select :category_id,
                     categories,
                     {
                       include_blank: expense.category_blank?
                     },
                     data: {
                      controller: "cat-select",
                      action: "cat-select#loadSubcategories",
                      cat_select_target_value: "expense_subcategory_id"
                    },
                    class: "pure-input-1" %>
   </div>

   <div class="pure-control-group">
     <%= form.label :subcategory_id %>
     <%= form.select :subcategory_id,
                     subcategories,
                     {},
                     class: "pure-input-1" %>
   </div>

   <div class="pure-controls">
     <%= form.submit class: "pure-button pure-button-primary pure-u-1" %>
   </div>
  </fieldset>
<% end %>
