<%# locals: (expenses:, new_expense:, categories:, subcategories:) %>

<div class="scrollable-table">
  <table class="pure-table pure-table-horizontal pure-table-striped compact-table scrollable">
    <thead>
      <tr>
        <th><%= t(".name") %></th>
        <th><%= t(".amount") %></th>
        <th><%= t(".category") %></th>
        <th><%= t(".actions") %></th>
      </tr>
    </thead>
    <tbody id="expenses_tbody" is="turbo-frame">
      <%= render expenses %>
    </tbody>
  </table>
</div>

<br>

<%= button_tag t(".new_expense"),
               type: "button",
               class: "pure-button pure-button-primary button-large",
               popovertarget: "popoverNew" %>

<div id="popoverNew"
     class="popover-container"
     popover
     data-controller="popover-form">
  <div class="to-right">
    <button class="icon-button" popovertarget="popoverNew" popovertargetaction="hide">
      <span class="material-symbols-outlined to-right">
        close
      </span>
    </button>
  </div>
  <%= turbo_frame_tag new_expense do %>
  <%= render "form",
             expense: new_expense,
             categories: categories,
             subcategories: subcategories %>
   <% end %>
</div>
