<!DOCTYPE html>
<html>
  <head>
    <title> <%= @page_title || resource_title %> </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= capybara_lockstep if defined?(Capybara::Lockstep) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined",
                            "data-turbo-track": "reload" %>
    <%= vite_javascript_tag "application" %>
    <%= vite_stylesheet_tag "application" %>
  </head>

  <body>
    <div id="layout"
         class="pure-g"
         data-controller="toggle"
         data-toggle-toggle-class="active"
         data-toggle-target="element">
       <%= render "sidebar" %>
      <div class="content pure-u-1 pure-u-md-4-5">
         <div class="flash">
          <%= render "shared/flash" %>
         </div>
        <main>
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
